@import "variables";

  body {
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;

    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    font-family: $font;
  }

  a {
    color: inherit;
    text-decoration: none;

    &:hover {
      color: $font;
    }
  }

  img {
    max-width: 100%;
    position: relative;
    vertical-align: middle;
  }

  table {
    width: 100%;
    font-size: 85%;
    border-collapse: collapse;
  }

  a:disabled, button:disabled {
    cursor: not-allowed;
  }

  ol, ul {
    margin: 0;
  }
